{% extends "base.html" %}
{% load static %}

{% block content %}
<header id="header">
      <a href="#" class="logo"><strong>故 이용규 목사</strong> 설교집 - 출판 순서대로</a>
</header>
<section>
	<h3>설교집 출판 순서대로 보기</h3>
<div class="content">
	<div class="row">
		<div class="col-6 col-12-medium">
			<ul class="sermon-list">
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/1.prepare_the_way_of_the_lord.pdf">1. 주의 길을 예비하라</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/2.exposition_on_song_of_songs.pdf">2. 아가서 강해</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/3.work_out_your_salvation.pdf">3. 너희 구원을 이루라</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/4.prepare_for_the_lord's_second_coming.pdf">4. 주의 재림을 준비하라</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/5.the_imperishable_crown.pdf">5. 썩지 않는 면류관</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/6.Zechariah.pdf">6. 스가랴서 강해</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/7.the_way_to_overcome_a_crisis.pdf">7. 위기를 이기는 길</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/8.god_sovereignty_and_man_life.pdf">8. 하나님의 주권과 인생</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/9.ruth.pdf">9. 룻기서 강해</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/10.things_to_accomplish_in_the_new_mil.pdf">10. 새 천 년에 할일</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/11.Life_with_no_regrets.pdf">11. 후회함이 없는 삶</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/12.duty_of_those_who_receive_salvation.pdf">12. 구원 얻는 자의 할 일</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/13.arise_shine.pdf">13. 일어나 빛을 발하라</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/14.hidden_treasure_and_pearl.pdf">14. 감추인 보화와 진주</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/15.heavens_citizenship.pdf">15. 하늘의 시민권</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/16.true_peace.pdf">16. 진정한 평화</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/17.promise_of_God.pdf">17. 하나님의 약속</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/18.doctrine_of_the_cross.pdf">18. 십자가의 도</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/19.awaken_the_dawn.pdf">19. 새벽을 깨우라</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/20.mans_blessed_commission.pdf">20. 인간의 복된 사명</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/21.righteous_path_of_life.pdf">21. 인생의 바른 길</a></li>
			</ul>
		</div>

		<div class="col-6 col-12-medium">
			<ul class="sermon-list">
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/22.victorious_life_of_faith.pdf">22. 승리의 신앙 생활</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/23.sheep_and_the_good_shepherd.pdf">23. 선한 목자와 양</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/24.great_inheritance_of_faith.pdf">24. 위대한 믿음의 유산</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/25.God_who_cannot_be_eascaped.pdf">25. 피할 수 없는 하나님</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/26.Philippians.pdf">26. 빌립보서 강해</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/27.life_everlasting.pdf">27. 영원히 남는 생활</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/28.highway_to_zion.pdf">28. 시온으로 가는 큰 길</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/29.peter.pdf">29. 베드로전후서 강해</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/30.blessings_of_chosen_people.pdf">30. 택함 받은 백성의 축복</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/31.God_in_our_mist.pdf">31. 우리 가운데 계신 하나님</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/32.summary_of_theology.pdf">32. 간추린 신학</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/33.enduring_city_that_is_to_come.pdf">33. 장차 올 영구한 도성</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/34.great_love.pdf">34. 위대한 사랑</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/35.thessalonians.pdf">35. 데살로니가전후서 강해</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/36.great_mountain_become_a_plain.pdf">36. 큰 산아 평지가 되라</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/37.holy_christian_life.pdf">37. 경건한 신앙생활</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/38.walk_in_the_good_ancient_path.pdf">38. 옛적 선한 길로 행하라</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/39.victory_of_Christ.pdf">39. 그리스도의 승리</a></li>
				<li><a target="_blank" href=" 	https://leeyongkyu.s3-us-west-1.amazonaws.com/40.double_portion_of_spirit.pdf">40. 갑절의 영감</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/41.hear_the_sound_of_low_whisper.pdf">41. 세미한 소리를 들으라</a></li>
				<li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/42.eternal_freedom_of_christians.pdf">42. 그리스도인의 영원한 해방</a></li>
			</ul>
		</div>
	</div>
</div>
</section>
{% endblock content %}