{% extends "base.html" %} {% load static %} {% block content %}
<header id="header">
    <a href="#" class="logo"><strong>故 이용규 목사</strong> 설교집 - 성경 강해</a>
</header>
<section>
    <h2 class="not-ready">준비중입니다.</h2>
    <h3>성경 강해 모음 (룻기, 아가, 스가랴, 빌립보서, 베드로전후서, 데살로니가전후서) </h3>
    <div class="content">
        <ol class="sermon-list">
            <li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/9.ruth.pdf">룻기</a></li>
            <li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/2.exposition_on_song_of_songs.pdf">아가</a></li>
            <li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/6.Zechariah.pdf">스가랴</a></li>
            <li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/26.Philippians.pdf">빌립보서</a></li>
            <li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/29.peter.pdf">베드로전후서</a></li>
            <li><a target="_blank" href="https://leeyongkyu.s3-us-west-1.amazonaws.com/35.thessalonians.pdf">데살로니가전후서</a></li>
        </ol>
    </div>
</section>
{% endblock content %}