{% extends "base.html" %} {% load static wagtailcore_tags %} 
{% block content %}
<header id="header">
    <a href="#" class="logo"><strong>故 이용규 목사</strong> 설교집 - 본문 순서대로</a>
</header>
<section>
    <!-- <h2 class="not-ready">준비중입니다.</h2> -->
    <div class="content">
        <div class="row">
            <div class="col-6 col-12-medium">
                <ul class="sermon-list">
                    {% for child in page.get_children %}
                    <li><a href="{% pageurl child %}">{{ child.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock content %}